{{ define "title" }}{{.Section | title}} - {{ end }}
{{ define "ogTitle" }}{{.Section | title}} - {{ end }}
{{ define "twitterTitle" }}{{.Section | title}} - {{ end }}

{{ define "pageType" }}list{{ end }}

{{ define "header-title" }}
<h1 class="type-heading">Bespoke Articles</h1>
{{ end }}

{{ define "main" }}
<div class="grid">
	<div class="row">
		<div class="column large-8 medium-10 small-12">

			<ul class="gallery-items article-gallery-items">

				{{ range sort .Pages "PublishDate" "desc" }}
				<li class="gallery-item article-gallery-item">

					{{ partial "article-attributes" . }}

					{{ with .Resources.GetMatch "images/feature.png" }}
					<figure class="article-hero-figure">

						<picture>

							<source media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
								data-srcset='{{ replace .RelPermalink ".png" "@2x.png" }}'>

							<img class="lazy" data-src="{{ .RelPermalink }}" alt="{{ .Title }}" />

						</picture>

					</figure>
					{{ end }}

					<a href="{{ .RelPermalink }}">
						<h1 class="type-subheading">{{ .Title | htmlUnescape }}</h1>
					</a>

					<p class="type-credits">{{ (replace .Summary "Introduction " "") | safeHTML }}</p>

				</li>
				{{ end }}

			</ul>

		</div>
	</div>
</div>
{{ end }}

{{ define "body-trailer" }}
<script async src="/scripts/sticky-nav.js"></script>
<script src="/scripts/vendor/lazyload.min.js"></script>
<script>

	// Initializes lazy-loading behavior

	const lazyLoadInstance = new LazyLoad({});

</script>
{{ end }}
