@use './mixins' as mix;

$black: 0, 0, 0;
$white: 255, 255, 255;

@include mix.theme-light {
	--color-base-background-color: white;
	--color-keyline: #{darken(white, 10%)};
	--color-text-color: #222222;
	--color-text-color-strong: black;
	--color-anchor-text-color: black;
	--color-anchor-hover-text-color: #{lighten(black, 50%)};
	--color-text-color-lighter: #{lighten(black, 50%)};
	--color-text-color-lightest: #{lighten(black, 90%)};
	--color-chiclet-background-color: rgba(#{$black}, 0.18);
	--color-chiclet-hover-background-color: rgba(#{$black}, 1.0);
	--color-chiclet-text-color: white;
	--color-chiclet-hover-text-color: white;
	--color-cta-text-color: black;
	--color-cta-hover-text-color: #{lighten(black, 50%)};
	--color-device-background-color: #{darken(white, 10%)};
	--color-callout-background: #{darken(white, 3%)};
	--color-callout-border: #{darken(white, 8%)};
}

@include mix.theme-dark {
	--color-base-background-color: rgb(20,20,20);
	--color-keyline: #{lighten(black, 15%)};
	--color-text-color: #dddddd;
	--color-text-color-strong: white;
	--color-anchor-text-color: white;
	--color-anchor-hover-text-color: #{darken(white, 15%)};
	--color-text-color-lighter: #{darken(white, 50%)};
	--color-text-color-lightest: #{darken(white, 75%)};
	--color-chiclet-background-color: rgba(#{$white}, 0.18);
	--color-chiclet-hover-background-color: rgba(#{$white}, 1.0);
	--color-chiclet-text-color: #{darken(white, 30%)};
	--color-chiclet-hover-text-color: #{darken(white, 70%)};
	--color-cta-text-color: white;
	--color-cta-hover-text-color: #{darken(white, 50%)};
	--color-device-background-color: #{lighten(black, 10%)};
	--color-callout-background: #{lighten(rgb(20,20,20), 8%)};
	--color-callout-border: #{lighten(rgb(20,20,20), 20%)};
}
