content/**.jpg filter=lfs diff=lfs merge=lfs -text
content/**.pdf filter=lfs diff=lfs merge=lfs -text
content/**.png filter=lfs diff=lfs merge=lfs -text
content/**.zip filter=lfs diff=lfs merge=lfs -text
demos/**.jpg filter=lfs diff=lfs merge=lfs -text
demos/**.mp4 filter=lfs diff=lfs merge=lfs -text
demos/**.ogg filter=lfs diff=lfs merge=lfs -text
demos/**.ogv filter=lfs diff=lfs merge=lfs -text
demos/**.otf filter=lfs diff=lfs merge=lfs -text
demos/**.png filter=lfs diff=lfs merge=lfs -text
demos/**.psd filter=lfs diff=lfs merge=lfs -text
demos/**.ttf filter=lfs diff=lfs merge=lfs -text
demos/**.webm filter=lfs diff=lfs merge=lfs -text
demos/**.zip filter=lfs diff=lfs merge=lfs -text
