# npm
node_modules

# hugo
resources
.hugo_build.lock

# sass
.sass-cache

# stroodle
themes/stroodle/dist
themes/stroodle/assets/vendor

# output
public

# aws
*credentials*
# aws

# vercel
.vercel

# analytics
static/google*.html

# demos
static/demos

# static
static/css

# design resources
_Sketch
static/images/baseline*

# notes
_scratch

# macos
.DS_Store
