**/node_modules
**/resources
**/static/css
**/static/demos
**/static/images/baseline*
**/public
**/dist
**/.sass-cache
**/vendor
.DS_Store
_archive/
_Sketch/
aws/
fontello-*
.hugo_build.lock
google**.html
*mailchimp*
jsconfig.json
.vercel
.output