@use 'sass-breakpoints-mixins/breakpoints' as bp;

@use '../../modules/mixins' as mix;

body[data-layout="home"][data-page-type="single"] {

	overflow-x: hidden;

	.top,
	.middle,
	header,
	main aside {
		display: none;
	}

	main {

		position: relative;
		overflow: hidden;

		min-height: calc(100vh - 56px);
		padding: 0;

		@include mix.flex-container(column, center, center);

		// @include bp.media-breakpoint-only(small)
		// {
			justify-content: flex-end;
		// }

	}

	article {

		position: relative;
		z-index: 2;

		width: 100%;
		padding: 1.525rem 0;

		margin-bottom: 3.25rem;

		// @include bp.media-breakpoint-only(small)
		// {
		// 	margin-bottom: 3rem;
		// }

		// backdrop-filter: blur(4px);

		// background-image: url(/images/svg/zalla-io-light.svg);
		// background-repeat: no-repeat;
		// background-size: auto 150%;
		// background-position: 66.67%;

		.row {

			padding-bottom: 0;

			@include mix.flex-container;

			align-items: baseline;

			@include bp.media-breakpoint-down(small) {
				display: block;
			}

		}

		.column:first-child {
			@include bp.media-breakpoint-down(small) {
				margin-bottom: 1.5rem;
			}
		}

		.type-cta {
			font-size: 1.5rem;
			line-height: 2rem;
		}

		.type-heading,
		.type-cta {

			@include bp.media-breakpoint-up(medium)
			{
				padding-bottom: 0;
			}

		}

		li {

			display: inline-block;

			&:not(:first-child)
			{
				margin-left: 2rem;
			}

		}

	}

	canvas {

		display: block;

		z-index: 1;

		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;

		margin: 0 auto;

		min-width: 100vw;
		min-height: calc(100vh - 56px);

		/* See StackOverflow (http://stackoverflow.com/questions/7615009/) */
		image-rendering: optimizeSpeed;
		image-rendering: -webkit-optimize-contrast; /* Webkit (Safari) */
		image-rendering: -o-crisp-edges;            /* Opera 12.02+ */
		image-rendering: pixelated;                 /* Webkit (Chrome) */
		image-rendering: -moz-crisp-edges;          /* FF 6.0+ */

		-ms-interpolation-mode: nearest-neighbor;   /* IE */

		user-select:            none;
		-ms-user-select:        none;
		-webkit-user-select:    none;
		-khtml-user-select:     none;
		-moz-user-select:       none;
		-webkit-touch-callout:  none;
		-webkit-user-drag:      none;

		background-color: transparent;
		background-image: url('../assets/backgrounds/null_64x64.png');
		background-position-x: 0px;
		background-position-y: 0px;
		background-repeat: repeat;
		background-size: 32px 32px;

		filter: invert(0%);
		opacity: 0.085;

		transition: filter 0.18s ease-in-out, opacity 0.18s ease-in-out;

	}

}

body[data-layout=home][data-page-type=single].theme-dark canvas {
	filter: invert(100%);
	opacity: 0.14;
}
