<!-- Landing Masthead -->
<section class="landing-masthead masthead">
	<div class="masthead-content">
		<img src=".//common/images/landing/landing-masthead-tagline-3.svg" type="image/svg+xml">
	</div>
</section>

<!-- Introduction and Signup -->
<section class="introduction">
	<div class="signup" ng-show="!state.activeSession">
		<button id="signup-button"><span class="label large">sign up</span></button>
		<button id="login-button"><span class="label large">log in</span></button>
	</div>
	<div class="no-signup" ng-show="state.activeSession"></div>
	<span class="intro">Who says "social gaming" can't be competitive? Tag gives you the tools to strengthen your team, improve your game, and let your skills be recognized. Join Tag, create a team, and get ready to take on the competition!</span>
</section>

<!-- Platform Overview -->
<section class="platform-overview">
	<ul class="feature-list vertical-list">
		<li class="feature">
			<div class="col-2"><img src=".//common/images/landing/feature-artwork/tag-landing-artwork-01.png"></div>
			<div class="col-2">
				<span class="feature-heading">what is tag?</span>
				<span class="feature-description">Tag is a third-party web platform made for gamers who want a better experience most in-game matchmaking systems can provide. With Tag, you can connect with friends to create persistent, socially linked teams and compete with others across various titles. Earn Bounty from wins while tracking your match history over time. Tag exists to bring the social aspects of competitive gaming to a whole new level.</span>
			</div>
		</li>
		<li class="feature">
			<div class="col-2">
				<span class="feature-heading">how does tag work?</span>
				<span class="feature-description">Tag allows you to join existing competitive teams, or<br> create your own team and invite users—or players—<br>to join. A team's creator becomes the captain. Team captains can send and manage Match invitations with other teams. If a new Match is accepted, both teams compete in-game, and the winning team reports the results back to Tag. Through the platform, users can track past matches and view upcoming matches.</span>
			</div>
			<div class="col-2"><img src=".//common/images/landing/feature-artwork/tag-landing-artwork-02.png"></div>
		</li>
		<li class="feature">
			<div class="col-2"><img src=".//common/images/landing/feature-artwork/tag-landing-artwork-03.png"></div>
			<div class="col-2">
				<span class="feature-heading">what is bounty?</span>
				<span class="feature-description">Bounty serves to encourage a competitive environment within the Tag community. All new Tag members begin with a small amount of Bounty. When players create or join a team, they place some of their own Bounty into a shared Team Bounty. Teams can place a certain amount of Team Bounty on each Match that will be subtracted from the losing team's Bounty and added to the winning team's Bounty. Both teams must agree on the amount of Bounty to risk before a match can be played.</span>
			</div>
		</li>
		<li class="feature">
			<div class="col-2">
				<span class="feature-heading">which games can i play?</span>
				<span class="feature-description">All of them!</italic> Want to take on an opposing team in competitive Minesweeper? Be our guest! Tag will<br>keep track of each title that has been played<br>between teams, but players have total freedom<br>over what titles they choose to compete in.</span>
			</div>
			<div class="col-2"><img src=".//common/images/landing/feature-artwork/tag-landing-artwork-04.png"></div>
		</li>
		<li class="feature">
			<div class="col-2"><img src=".//common/images/landing/feature-artwork/tag-landing-artwork-05.png"></div>
			<div class="col-2">
				<span class="feature-heading">how do i get started?</span>
				<span class="feature-description">Getting started is easy! Once you've registered with<br>Tag and activated your account, you should log in and customize your Player profile to set yourself apart from the crowd. After that, you can search for existing teams to join, find your friends, or become captain of your own team! So what are you waiting for? Create an account, and begin your own path to glory!</span>
			</div>
		</li>
	</ul>
</section>
