<ul class="article-social-share-links"
	data-article-title="{{ .Title | htmlUnescape }}"
	data-article-tags="{{ .Params.Tags }}">

	<li>
		<a class="social-share-link" data-share-method="twitter" href="#">
			<img src="/images/svg/icon-sharing-twitter.svg" width="42" height="42" alt="Share via Twitter">
		</a>
	</li>
	<li>
		<a class="social-share-link" data-share-method="linkedin" href="#">
			<img src="/images/svg/icon-sharing-linkedin.svg" width="42" height="42" alt="Share via LinkedIn">
		</a>
	</li>
	<li>
		<a class="social-share-link" data-share-method="facebook" href="#">
			<img src="/images/svg/icon-sharing-facebook.svg" width="42" height="42" alt="Share via Facebook">
		</a>
	</li>
	<!--
	<li>
		<a class="social-share-link" data-share-method="link" href="#">
			<img src="/images/svg/icon-sharing-link.svg" width="42" height="42" alt="Copy URL">
		</a>
	</li>
	-->

</ul>
