<footer class="footer" id="contact">

	<ul class="contact-info">

		<li class="email">
			<a href="mailto:michael@zalla.io">
				michael <span>at</span> zalla.io
			</a>
		</li>

		<li class="mobile">859.982.4404</li>

	</ul>

	<a class="resume" href="http://www.zalla.io/attachments/pdf/Michael_Zalla_Resume_10-19-2014.pdf" target="_blank">
		<span class="arrow-down red"></span>
		<span>résumé</span>
	</a>

	<span class="footer-message">coded with <span>♥</span> by ©&thinsp;michael zalla</span>

	<ul class="social-links">
		<li class="social-link linkedin">
			<a href="https://www.linkedin.com/in/michaelzalla" target="_blank">LinkedIn</a>
		</li>
		<li class="social-link github">
			<a href="https://github.com/MichaelZalla" target="_blank">GitHub</a>
		</li>
		<li class="social-link stackoverflow">
			<a href="http://stackoverflow.com/users/1623811/michael-zalla?tab=answers" target="_blank">StackOverflow</a>
		</li>
		<li class="social-link pinterest">
			<a href="http://www.pinterest.com/michaelzalla/" target="_blank">Pinterest</a>
		</li>
	</ul>

</footer>
