<footer>

	<div class="grid">

		<div class="">

			<p class="type-footer">
				<span class="lighter"><span class="icon-before icon-cog small-hide"></span>engineered with <span class="icon-before icon-heart"></span> by </span><a class="icon-after icon-paper-plane" href="mailto:{{ .Site.Params.author.email }}"><span class="nowrap"><strong>michael</strong><span class="lighter"> at </span><strong>zalla.io</strong></span></a>
			</p>

			<p class="type-footer">
				<a href="/pdf/ZallaMichael_Resume_2020-06-05.pdf" target="_blank"><span class="lighter icon-before icon-coffee nowrap">check the <strong>résumé</strong></span></a>
			</p>

		</div>

		<div class="">

			{{ partial "site-credits" . }}

			{{ partial "social-links" . }}

		</div>

		<div class="">

			<p class="type-legal lighter">copyright © {{ dateFormat "2006" now }} Michael Zalla</p>

		</div>

	</div>

</footer>
