<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="">

	{{ $baseSiteTitle := print .Site.Title " - " .Site.Params.Description }}

	<title>{{ if not .IsHome }}{{ block "title" . }}{{ .Page.Title | htmlUnescape }} - {{ end }}{{ end }}{{ $baseSiteTitle }}</title>
	<meta property="og:title" content='{{ if not .IsHome }}{{ block "ogTitle" . }}{{ .Page.Title | htmlUnescape }} - {{ end }}{{ end }}{{ $baseSiteTitle }}' />
	<meta name="twitter:title" content='{{ if not .IsHome }}{{ block "twitterTitle" . }}{{ .Page.Title | htmlUnescape }} - {{ end }}{{ end }}{{ $baseSiteTitle }}'/>

	{{ if .Page.Description }}
		<meta name="description" content='{{ .Page.Description }}'>
		<meta property="og:description" content='{{ .Page.Description }}' />
		<meta name="twitter:description" content='{{ .Page.Description }}'/>
	{{ else if .Page.Summary }}
		{{ $safeSummary := truncate 100 (htmlUnescape (replace .Page.Summary "Introduction " "")) }}
		<meta name="description" content='{{ $safeSummary }}'>
		<meta property="og:description" content='{{ $safeSummary }}' />
		<meta name="twitter:description" content='{{ $safeSummary }}' />
	{{ else }}
		{{ if .Page.Section }}
			{{ if .IsSection }}
				<meta name="description" content='{{ .Page.Section | title }}'>
				<meta property="og:description" content='{{ .Page.Section | title }}' />
				<meta name="twitter:description" content='{{ .Page.Section | title }}'/>
			{{ else }}
				{{ if not .IsHome }}
					<meta name="description" content='{{ .Page.Section | htmlUnescape }} - {{ $baseSiteTitle }}'>
					<meta property="og:description" content='{{ .Page.Section | htmlUnescape }}' />
					<meta name="twitter:description" content='{{ .Page.Section | htmlUnescape }}'/>
				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}

	<meta name="author" content="{{ .Site.Params.author.name }}">
	<meta name="twitter:site" content="{{ .Site.Params.author.twitter }}" />
	<meta name="twitter:creator" content="{{ .Site.Params.author.twitter }}" />

	{{ range .Page.Resources.Match "*/feature@2x.png" }}
	<meta property="og:image" content="{{ .RelPermalink | absURL }}" />
	<meta name="twitter:image" content="{{ .RelPermalink | absURL }}"/>
	{{ end }}

	{{ if or .IsHome .IsSection }}
	<meta property="og:image" content="/images/opengraph.png" />
	<meta name="twitter:image" content="/images/opengraph.png"/>
	{{ end }}

	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ .Page.RelPermalink | absURL }}" />
	<meta property="og:site_name" content="{{ .Site.Title }}" />

	<meta property='article:author' content='https://www.facebook.com/MichaelZalla' />
	<meta property="article:modified_time" content='{{ .Page.Lastmod.Format "20060102-15:04:05.000" }}' />

	<meta name="twitter:card" content="summary_large_image"/>

	<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">

	{{ partial "favicon" . }}

	<link rel="preload" href="/fonts/zalla-io-font/zalla-io-font.eot" as="font" type="font/otf">
	<link rel="preload" href="/fonts/zalla-io-font/zalla-io-font.woff2" as="font" type="font/woff2">
	<link rel="preload" href="/fonts/zalla-io-font/zalla-io-font.woff" as="font" type="font/woff">
	<link rel="preload" href="/fonts/zalla-io-font/zalla-io-font.ttf" as="font" type="font/ttf">
	<!-- <link rel="preload" href="/fonts/zalla-io-font/zalla-io-font.svg" as="font" type="image/svg+xml"> -->

	{{ $options := (dict "targetPath" "css/common.css" "transpiler" "dartsass" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules" "themes/stroodle/src/scss") "use" "autoprefixer") }}
	{{ $css := resources.Get "common.scss" | resources.ToCSS $options | resources.PostCSS $options | resources.Minify }}
	<link rel="stylesheet" href="{{ $css.RelPermalink }}">

	{{ template "_internal/google_analytics.html" . }}