<nav class="sitenav theme-light">

	<div class="grid">

		<div class="row">

			<a class="brandmark" href="/" aria-label="Homepage">

				<span class="sitename type-cta">
					<span>m</span>
					<span>i</span>
					<span>c</span>
					<span>h</span>
					<span>a</span>
					<span>e</span>
					<span>l</span>
					<span>&nbsp;</span>
					<span>z</span>
					<span>a</span>
					<span>l</span>
					<span>l</span>
					<span>a</span>
				</span>

			</a>

			<div class="menu-toggle hamburger-menu"
				onmousedown="event.currentTarget.classList.toggle('expanded')">
			</div>

			<div class="navigation-items-wrapper">

				<ul class="navigation-items">
					{{ range .Site.Menus.sitenav }}
					<li class="navigation-item">
						<a class="type-cta" href="{{ .URL }}">{{ .Name }}</a>
						<!-- <a class="type-label" href="{{ .URL }}">{{ .Name }}</a> -->
					</li>
					{{ end }}
					<li class="navigation-item">
						{{ partial "color-theme-picker" . }}
					</li>
				</ul>

			</div>

		</div>

	</div>

</nav>
