<footer>
	<div class="container">
		<div class="content">
			<div class="row">
				<!-- Branding -->
				<div class="column medium-4 ss-footer-branding">
					<a class="logo" href="#/home"></a>
				</div>
				<!-- Navigation -->
				<div class="column medium-8 ss-footer-navigation">
					<ul>
						<li><a href="#/about"><span>About</span></a></li>
						<li><a href="#/features"><span>Features</span></a></li>
						<li><a href="#/curate"><span>Curate</span></a></li>
						<li><a href="#/donate"><span>Donate</span></a></li>
						<li><a href="#/privacy"><span>Privacy</span></a></li>
						<li><a href="#/contact"><span>Contact</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>