<header class="fixed">
	<div class="container">
		<div class="content">
			<div class="left">
				<a class="logo" href="#/home" alt="AllCity"></a><searchbar on-submit="redirectToSearch(qs)"></searchbar>
			</div>
			<div class="right">
				<section class="ss-header-navigation fullscreen">
					<div class="container">
						<div class="content dark">
							<ul>
								<li><a href="#/explore"><span>Explore</span></a></li>
								<li><a href="#/search"><span>Browse All</span></a></li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</header>
