{{ $resources := (cond (ge (len $.Page.Resources) 1) $.Page.Resources $.Page.Parent.Resources) }}
{{ $imageMatch := (printf "*/%s*" (.Get 0)) }}
{{ $caption := (.Get 1) }}
{{ $figureCssClasses := (.Get 2) }}
{{ $pictureCssClasses := (.Get 3) }}
<div class="imgset" id="{{ .Get 0 }}">

    <figure class="row">

        {{ range $resources.Match $imageMatch }}
            {{ if and (not (in .RelPermalink "@2x")) (not (in .RelPermalink ".webp")) }}
                <figure class="column {{ $figureCssClasses }}">
                    <picture class="{{ $pictureCssClasses }}">
                        {{ partial "responsive-image-source" . }}
                    </picture>
                </figure>
            {{ end }}
        {{ end }}

        <figcaption class="column large-12 large-text-center small-text-left">
            <p class="type-caption">{{$caption}}</p>
        </figcaption>

    </figure>

</div>
