{{ define "title" }}Page Not Found - {{ end }}
{{ define "ogTitle" }}Page Not Found - {{ end }}
{{ define "twitterTitle" }}Page Not Found - {{ end }}

{{ define "meta" }}
<style>
	header {
		position: static;
	}
</style>
{{ end }}

{{ define "layout" }}page-not-found{{ end }}

{{ define "pageType" }}single{{ end }}

{{ define "article" }}

	<div class="row">

		<div class="column large-12">

			<section>

				<h1 class="type-quote">Being lost is not a matter of knowing where you are. It's a matter of knowing where you aren't.</h1>
				<span class="type-attribution">The Phantom Tollbooth</span>

			</section>

		</div>

		<div class="column large-8 medium-10 small-12">

			<section>

				<p class="drop-cap" data-drop-cap-letter="T">

					<span class="small-caps">This page could</span> not be found. Trust me. We looked everywhere for it.

					Perhaps it mistakenly thought that today was a government holiday, and it's now spending some quality time with the family.

					Maybe, through sheer circumstance, it had a run-in with a few shady characters—who may or may not be linked to an international crime syndicate—and it's since changed its URL for its own personal safety.

					For all we know, it resolved to finally realize its lifelong dream of seeing the world, and it's now sitting on a server in Algiers on a 4-hour layover to Cairo (we hear the desert's beautiful this time of year).

					Regardless, we're sorry we couldn't find the page. We'll do our best to let you know when it comes around. Don't call us, we'll call you! (We'll even call its mother, too—we wouldn't want her worried).

				</p>

			</section>

		</div>

	</div>

{{ end }}
