{{ define "title" }}{{.Title}} - {{ end }}
{{ define "ogTitle" }}{{.Title}} - {{ end }}
{{ define "twitterTitle" }}{{.Title}} - {{ end }}

{{ define "meta" }}

	{{ $options := (dict "targetPath" "css/layout-home.css" "transpiler" "dartsass" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules" "themes/stroodle/src/scss") "use" "autoprefixer") }}
	{{ with resources.Get "layout-home.scss" | resources.ToCSS $options | resources.PostCSS $options | resources.Minify }}
		<style>{{ .Content | safeCSS }}</style>
	{{ end }}

	{{ with resources.Get "scripts/home.js" | js.Build (dict "minify" true) | fingerprint }}
	<script type="text/javascript" src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
	{{ end }}

{{ end }}

{{ define "layout" }}home{{ end }}

{{ define "pageType" }}single{{ end }}

{{ define "article" }}
<div class="row">
	<div class="column large-6 small-12">
		<h1 class="type-quote">…because we are never going to find the new unless we get a little crazy.</h1>
		<span class="type-attribution">Ancient proverb</span>
	</div>
	<div class="column large-6 small-12 large-text-right small-text-left">
		<ul>
			<li>
				<a class="type-cta icon-after icon-coffee" href="/articles/">articles</a>
			</li>
			<li>
				<a class="type-cta icon-after icon-right-hand" href="/projects/">projects</a>
			</li>
		</ul>
	</div>
</div>
{{ end }}

{{ define "pre-main" }}
<canvas id="canvas" width="192" height="192"></canvas>
{{ end }}
