@mixin flex-container(
	$flex-direction: row,
	$align-items: flex-start,
	$justify-content: flex-start)
{

	display: block;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: $flex-direction;
	-ms-flex-direction: $flex-direction;
	flex-direction: $flex-direction;

	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;

	-webkit-box-align: $align-items;
	-webkit-align-items: $align-items;
	-ms-flex-align: $align-items;
	align-items: $align-items;

	justify-content: $justify-content;

}
