@mixin flex-container(
	$flex-direction: row,
	$align-items: flex-start,
	$justify-content: flex-start)
{

	display: block;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: $flex-direction;

	flex-wrap: nowrap;

	align-items: $align-items;

	justify-content: $justify-content;

}
