{{ define "title" }}{{.Section | title}} - {{ end }}
{{ define "ogTitle" }}{{.Section | title}} - {{ end }}
{{ define "twitterTitle" }}{{.Section | title}} - {{ end }}

{{ define "meta" }}
	{{ $options := (dict "targetPath" "css/layout-project.css" "transpiler" "dartsass" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules" "themes/stroodle/src/scss") "use" "autoprefixer") }}
	{{ with resources.Get "layout-project.scss" | resources.ToCSS $options | resources.PostCSS $options | resources.Minify }}
		<style>{{ .Content | safeCSS }}</style>
	{{ end }}
{{ end }}

{{ define "pageType" }}list{{ end }}

{{ define "header-title" }}
<h1 class="type-heading">Handcrafted Projects</h1>
{{ end }}

{{ define "article" }}
<ul class="gallery-items project-gallery-items">

	{{ range sort .Pages "Params.year" "desc" }}
	<li class="gallery-item project-gallery-item" data-project-id='{{ .File.Dir }}'>

		<a href="{{ .RelPermalink }}"
			data-swatch="{{ .Params.swatch }}">

			<div class="year-swatch type-label"
				style='background-color: {{ cond (isset .Params "swatch") .Params.swatch "#999999" }};'>
				{{ .Params.year }}
			</div>

			{{ with .Resources.GetMatch "images/project-gallery-thumbnail*" }}
				<picture>
					{{ partial "responsive-image-source" . }}
				</picture>
			{{ end }}

			<h2 class="type-heading">{{ .Title | htmlUnescape }}</h2>

		</a>

	</li>
	{{ end }}

</ul>
{{ end }}

{{ define "body-trailer" }}
<script src="/scripts/sticky-nav.js"></script>
<script src="/scripts/vendor/lazyload.min.js"></script>
<script>

	// Initializes lazy-loading behavior

	const lazyLoadInstance = new LazyLoad({});

</script>
{{ end }}
