<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "meta" . }}
	<title>{{ .Title }} - Projects - {{ $.Site.Title }}</title>
</head>
<body>

	{{ partial "header" . }}

	<header>

		<h2>{{ .Title }}</h2>
		<p class="intro">{{ .Params.subtitle }}</p>

		{{ with .Resources.GetMatch "images/hero*" }}
		<img class="" src="{{ .Permalink }}" alt="{{ .Params.alt }}" style="max-width:100%;">
		{{ end }}

	</header>

	<nav>
		<a href="/projects/">Back to Projects</a>
	</nav>

	<aside>
		<h4>Technologies</h4>
		<ul class="technology-items">
			{{ range .Params.technologies }}
			<li class="technology-item"><span>{{ . }}</span></li>
			{{ end }}
		</ul>
	</aside>

	<main>
		{{ .Content }}
	</main>

	{{ partial "footer" . }}

</body>
</html>
