{{ define "title" }}{{.Title | htmlUnescape}} - {{.Section | title}} - {{ end }}
{{ define "ogTitle" }}{{.Title | htmlUnescape}} - {{.Section | title}} - {{ end }}
{{ define "twitterTitle" }}{{.Title | htmlUnescape}} - {{.Section | title}} - {{ end }}

{{ define "meta" }}
	{{ $options := (dict "targetPath" "css/layout-project.css" "transpiler" "dartsass" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules" "themes/stroodle/src/scss") "use" "autoprefixer") }}
	{{ with resources.Get "layout-project.scss" | resources.ToCSS $options | resources.PostCSS $options | resources.Minify }}
		<style>{{ .Content | safeCSS }}</style>
	{{ end }}
{{ end }}

{{ define "layout" }}project{{ end }}

{{ define "header-title" }}
	<a href="#">
		<h1 class="type-heading">{{ .Title | htmlUnescape }}</h1>
	</a>
{{ end }}

{{ define "header-navigation-items" }}

	{{ if .Params.hasDemo }}
	<li class="header-navigation-item">
		{{ $demoUrl := cond (isset .Params "demo_url") .Params.demo_url (printf "%s%s" "/demos/" .File.Dir) }}
		<a class="type-label icon-before icon-arrows-cw" href="{{ $demoUrl }}" target="_blank"><!--  icon-spin -->
			run the demo
		</a>
	</li>
	{{ end }}

	{{ with .Params.repository }}
	<li class="header-navigation-item">
		<a class="type-label icon-before icon-bug" rel="noopener noreferrer" href="{{ . }}" target="_blank"><!--  icon-spin -->
			explore the code
		</a>
	</li>
	{{ end }}

{{ end }}

{{ define "article" }}

	<div class="row">
		<div class="column large-8 medium-9 small-12">

			<section>

				<time class="type-label lighter" datetime="{{ .Params.year }}">
					{{ .Params.season | title }} {{ .Params.year }}
				</time>

			</section>

			<section class="collapsed">

				{{ partial "drop-cap-content" . }}

				{{ with .Params.technologies }}
				<h4 class="type-label lighter">Tools</h4>

				<ul class="technology-items bullet">
					{{ range . }}
					<li class="technology-item"><p>{{ . }}</p></li>
					{{ end }}
				</ul>
				{{ end }}

			</section>

		</div>
	</div>

{{ end }}
{{ define "gallery" }}

	<section>

		{{ with (.Resources.GetMatch "gallery.md") }}
			{{ .Content }}
		{{ end }}

	</section>

{{ end }}

{{ define "aside" }}

	<div class="disqus"></div>

{{ end }}

{{ define "body-trailer" }}
<script src="/scripts/sticky-nav.js"></script>
<script src="/scripts/vendor/lazyload.min.js"></script>
<script src="/scripts/vendor/disqusloader.js"></script>
<script>

	// Initializes lazy-loading behavior

	const lazyLoadInstance = new LazyLoad({});

	// Initializes disqus asynchronously

	disqusLoader( '.disqus', {
		scriptUrl: '//zalla-io.disqus.com/embed.js',
	});

</script>
{{ end }}
