@use '../modules/baseline-grid' as bg;

@if(bg.$show-baseline-grid)
{
	body[class*='theme-'] {
		background-position: 0px 1px;
		background-size: 1rem 1rem;
		background-repeat: repeat;
		background-image: url('../images/baseline.svg');
	}
}
