@use '../modules/mixins' as mix;

$brandmark-size: 36px;

.brandmark {

	display: inline-block;
	padding: 0;

	width: $brandmark-size;
	height: $brandmark-size;

	background-size: auto 100%;
	background-repeat: no-repeat;

	@include mix.hide-text;

}
