@use '../modules/mixins' as mix;

.breadcrumb-nav {

	margin: 1.25em 0;

	ul.breadcrumbs {

		li.breadcrumb {

			&,
			& a {
				display: inline;
			}

			&:before {
				position: relative;
				top: -1px;
				width: 2em;
				font-size: 50%;
				opacity: 0.5;
			}

			// & a {
			// 	text-decoration: none;
			// }

			&:hover a {
				text-decoration: underline;
			}

			// &.active a {
			// 	color: red;
			// }

		}

	}

}
