@use '../modules/mixins' as mix;

ul.gallery-menu-items {

	li.gallery-menu-item {

		a.type-copy {

			display: inline-block;

			transition: color 0.18s ease-in-out;

			&:not(:hover):not(:focus) {
				color: lighten(black, 50%)
			}

		}

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

	}

}
