@use '../modules/mixins' as mix;

@include mix.keyframes(spin)
{
    0% {
        @include mix.vendorize(transform, rotate(0deg));
    }
    100% {
        @include mix.vendorize(transform, rotate(359deg));
    }
}

// Left-hand icon positioning

.icon-before:before {
    @include mix.pseudo-icon('before');
}

// Right-hand icon positioning

.icon-after:after
{
    @include mix.pseudo-icon('after');
}

// Animation

.icon-before.icon-spin:hover:before,
.icon-after.icon-spin:hover:after {
    @include mix.vendorize(animation, spin 1s infinite linear);
}

// Icon content

$icons: (
    icon-right-open: '',
    icon-left-open: '',
    icon-arrows-cw: '',
    icon-right-hand: '',
    icon-heart: '',
    icon-coffee: '',
    icon-bug: '',
    icon-paper-plane: '',
    icon-calendar: '',
    icon-speechbubble: '',
    icon-clock: '',
);

@each $name, $code in $icons {

    .#{$name}.icon-before:before,
    .#{$name}.icon-after:after {
        content: $code;
    }

}
