@use '../modules/mixins' as mix;

@include mix.keyframes(spin)
{
    0% {
        @include mix.vendorize(transform, rotate(0deg));
    }
    100% {
        @include mix.vendorize(transform, rotate(359deg));
    }
}

// Left-hand icon positioning

.icon-before:before {
    @include mix.pseudo-icon('before');
}

// Right-hand icon positioning

.icon-after:after
{
    @include mix.pseudo-icon('after');
}

// Animation

.icon-before.icon-spin:hover:before,
.icon-after.icon-spin:hover:after {
    @include mix.vendorize(animation, spin 1s infinite linear);
}

// Icon content

$icons: (
    icon-arrows-cw: '\e801',
    icon-bug: '\f188',
    icon-calendar: '\e804',
    icon-clock: '\e806',
    icon-coffee: '\f0f4',
    icon-comment: '\e808',
    icon-heart: '\e803',
    icon-left-open: '\e807',
    icon-link: '\e805',
    icon-moon: '\f186',
    icon-paper-plane: '\f1d8',
    icon-right-hand: '\e802',
    icon-right-open: '\e800',
    icon-sun: '\f185',
);

@each $name, $code in $icons {

    .#{$name}.icon-before:before,
    .#{$name}.icon-after:after {
        content: $code;
    }

}
