* {

	box-sizing: border-box;

	word-break: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	min-height: 0;

}

html,
body {
	margin: 0;
}

figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

iframe {
	border-width: 0;
}

h1,h2,h3,h4,h5,h6,p,ul,li {
	margin: 0;
}

p {
	-moz-margin-start: 0;
	-moz-margin-end: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

ul {
	-moz-padding-start: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
	-webkit-padding-start: 0;
	list-style-type: none;
}

img {
	vertical-align: top;
}

fieldset {
	border: none;
	outline: none;
	margin: initial;
	padding: initial;
}
