@use 'sass-breakpoints-mixins/breakpoints' as bp;

@use '../modules/mixins' as mix;
@use '../modules/baseline-grid' as bg;

[class*="theme-"] {

	color: var(--color-text-color);

	@if(bg.$show-baseline-grid)
	{
		background-color: rgba(--color-base-background-color, 0.2);
	}
	@else
	{
		background-color: var(--color-base-background-color);
	}

	transition: color 0.18s ease-in-out, background-color 0.18s ease-in-out;

}

// Anchor

a {

	color: var(--color-anchor-text-color);

	&:hover {
		color: var(--color-anchor-hover-text-color);
	}

}

a.type-cta,
a.type-label,
nav.color-theme-picker button:not(:disabled) {

	color: var(--color-cta-text-color);

	&:hover {
		color: var(--color-cta-hover-text-color);
	}

}

a .type-heading {
	color: var(--color-cta-text-color);
}

// Header

.header.stuck {
	border-bottom-color: var(--color-keyline);
}

// Brandmark

@include mix.theme-light {
	.brandmark {
		background-image: url('../images/svg/zalla-io-light.svg');
	}
}

@include mix.theme-dark {
	.brandmark {
		background-image: url('../images/svg/zalla-io-dark.svg');
	}
}

// Social sharing

@include mix.theme-light {
	a.social-share-link {

		img {
			filter: invert(0%);
		}

		img:not(:hover)
		{
			opacity: 0.18;
		}

	}
}

@include mix.theme-dark {
	a.social-share-link {

		img {
			filter: invert(100%);
		}

		img:not(:hover) {
			opacity: 0.25;
		}

	}

}

// Hamburger (mobile)

.hamburger-menu:before,
.hamburger-menu:after {
	background-color: var(--color-cta-text-color);
}

// Typography

.lighter,
a.lighter,
.type-attribution {
	color: var(--color-text-color-lighter);
}

strong {
	color: var(--color-text-color-strong);
}

.type-legal {
	color: var(--color-text-color-lighter);
}

p.drop-cap::first-letter {
	color: var(--color-text-color);
}

// Chiclet (tag)

.chiclet.type-label {

	color: var(--color-chiclet-text-color);

	background-color: var(--color-chiclet-background-color);

	&:hover {
		color: var(--color-chiclet-hover-text-color);
		background-color: var(--color-chiclet-hover-background-color);
	}

}

// Devices

[class*='device-'] {
	background-color: var(--color-device-background-color);
}

[class*='device-']:before,
[class*='device-']:after {
	background-color: var(--color-base-background-color);
}

// Sitenav

nav.sitenav {

	.navigation-items-wrapper {

		@include bp.media-breakpoint-down(small) {
			background-color: var(--color-base-background-color);
		}

	}

}

// Galleries

ul.project-gallery-items > li.gallery-item {

	.year-swatch,
	.type-heading {
		color: white;
	}

}

// Footer

@include mix.theme-dark {
	footer {
		border-top-color: var(--color-keyline);
	}
}
